{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="row my-3" style="padding-top: 20px">
            <div class="col-xl-12">
                {% for category, message in messages %}
                                <div>
                                    <h2 style="color: {% if category == 'error' %}red{% else %}limegreen{% endif %}">{{ message }}</h2>
                                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endwith %}