{% extends 'base.html' %}
{% block admin %}
    <div class="home">

        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
                            <h2 style="color: black;">Dashboard di amministrazione</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}